<nav class="navbar navbar-expand bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">Ejs App</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <div class="d-flex" role="link">
      <button class="btn btn-outline-light ms-2" type="button">LogIn</button>
      <button class="btn btn-light ms-2" type="button">SignUp</button>
    </div>
  </div>
</nav>